{% extends "base.html" %}
{% load thumbnail %}
{% load widget_tweaks %}

<head>
    {% block title %}
        <title>Megan E. McCarty Collection – Specimen Images</title>
    {% endblock %}
</head>

{% block content %}
<div id="image-table">
    <div class="container">
        <h1 class="page-title">Specimen Images</h1>
        <hr>
        <p>
            Toggle the filter and use the fields to filter through all of the specimen
            images in the collection database. The results will update below.
        </p>
        <p>
            Use the search box to find something specific in the image captions.
            The results will update as you type.
        </p>
        <div id="search-button">
            <input class="search" placeholder="Search" />
            <button class="btn btn-primary" id="toggle-filter" type="button"
                    data-toggle="collapse" data-target="#specimenfilter"
                    aria-expanded="false" aria-controls="specimenfilter">
                Toggle Filter
            </button>
        </div>
        <form method="get" class="collapse" id="specimenfilter">
            <div class="form-row">
                <div class="form-cell" id="form-usi-image">
                    {{ filter.form.usi_image.label_tag }}
                    {% render_field filter.form.usi_image class="form-control" %}
                </div>
                <div class="form-cell" id="form-species-page">
                    {{ filter.form.species_page.label_tag }}
                    {% render_field filter.form.species_page class="form-control" %}
                </div>
                <div class="form-cell" id="form-position">
                    {{ filter.form.position.label_tag }}
                    {% render_field filter.form.position class="form-control" %}
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Filter
                </button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="cardContainer list">
        {% for specimenimage in filter.qs %}
            <div class="smallCard">
                <a href="{% url 'specimen-detail' specimenimage.usi_image %}">
                    <img class="imageCard"
                        src="{% thumbnail specimenimage.image '300' as im %}{{ im.url }}{% endthumbnail %}"
                        alt="{{ specimenimage.usi_image }}"
                    />
                </a>
                <div class="container">
                    <div class="info name">
                        <center>
                            <a href="{% url 'specimen-detail' specimenimage.usi_image %}">
                                {{ specimenimage.usi_image }}
                            </a> ({{ specimenimage.position}}) –
                            <a href="{% url 'species-page' specimenimage.species_page %}">
                                <i>
                                    {{ specimenimage.usi_image.genus }}
                                    {{ specimenimage.usi_image.species }}
                                </i>
                            </a> ({{ specimenimage.usi_image.species.species_common_name }})
                        </center>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="pager">
            <div class="previous"><a >‹‹ Previous</a></div>
                <ul class="pagination"></ul>
            <div class="next"><a >Next ››</a></div>
        </div>
    <br>
    </div>
</div>
{% endblock %}